/* FontAwesome for working BootSnippet :> */

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
#team {
    background: #eee !important;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #108d6f;
    border-color: #108d6f;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #007b5e;
    border-color: #007b5e;
}

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    border: none;
    background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    /* -moz-transform: perspective(1000px); */
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    /* -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg); */
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.backside .card a {
    font-size: 18px;
    color: #007b5e !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #007b5e !important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

/* co founder section */
.backgorund_cofounder{
    background-color:  #f8f9fa;
}

.co_card {
    margin: 20px 0;
    width: 28rem;
  }
  .card-img-top {
    height: 200px;
    object-fit: cover;
  }
  .co_card:hover {
transform: translateY(-10px);
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
border-radius: 15px;
}
  .card-spacing {
margin-bottom: 30px;
margin-left: 80px;
}


/* co founder section */

/* Supervisor */
#supervisors-section {
    background-color: #f8f9fa;
    padding: 60px 0;
}

.supervisors-title {
    text-align: center;
    text-transform: uppercase;
    color: #29ddb6;
    margin-bottom: 40px;
    padding-bottom: 20px;
}

.supervisor-card {
    border-radius: 10px;
    border: 2px solid #ddf5ef;
    transition: transform 0.3s ease-in-out;
}

.supervisor-card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.supervisor-card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.supervisor-name {
    margin-top: 20px;
}

.supervisor-social-icons a {
    font-size: 18px;
    text-decoration: none;
    margin-right: 10px;
    transition: color 0.3s ease-in-out;
}

.supervisor-social-icons a:hover {
    color: #c2e4dc;
}

@media (max-width: 768px) {
    .supervisor-card-body img {
        width: 100px;
        height: 100px;
    }

    .supervisor-social-icons a {
        margin-right: 5px;
    }
}